@media (max-width: 375px) {
    .person-name {
        padding: 0 10px;
    }

    .stacks-content {
        padding: 0 10px;
    }

    .stacks-content h3 {
        margin-left: 10px;
    }

    .stacks {
        margin-top: 10px;
    }

    .stacks li {
        margin: 0;
    }

    .stacks li img {
        width: calc(3.5vw + .5rem);
    }

    .box-about {
        padding: 1rem;
    }

    .section-subtitle p {
        font-size: 2rem;
    }

    .box-about h3 {
        margin: 2rem 1rem;
    }

    .box-about h4 {
        margin: 1rem;
    }

    .swiper-slide span {
        font-size: 1.5rem;
    }

    .swiper-slide p {
        font-size: 1rem;
    }
}

@media (min-width: 376px) and (max-width: 768px) {

    .person-name {
        padding: 0 10px;
    }

    .stacks-content {
        padding: 0 15px;
    }

    .stacks-content h3 {
        margin-left: 10px;
    }

    .stacks {
        margin-top: 10px;
    }

    .stacks li {
        margin: 0;
    }

    .stacks li img {
        width: calc(3.2vw + .5rem);
    }

    .box-about {
        padding: 1.3rem;
    }

    .section-subtitle p {
        font-size: 2rem;
    }

    .box-about h3 {
        margin: 1.5rem 1rem;
    }

    .box-about h4 {
        margin: 1.5rem;
    }
}

@media (max-width: 700px) {
    .swiper {
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .links a img {
      width: 20px;
      height: 20px;
    }
  }

@media (max-width: 1000px) {
    .swiper {
        max-width: 700px;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {

    .stacks li div:hover::after {
        font-size: 1.3vw;
    }

    .stacks-content h3 {
        font-size: 1vw;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {

    .box-about {
        padding: 1.8rem;
    }

    .section-subtitle p {
        font-size: 2.5rem;
    }

    .box-about h3 {
        margin: 2rem 1rem;
    }

    .box-about h4 {
        margin: 1.5rem;
    }

}


@media (max-width: 1440px) and (orientation: landscape) {
    .profile-photo {
        width: 45vh;
    }
}

@media (min-width: 1440px) {
    .profile-photo {
        width: 25vw;
        max-width: initial;
    }
}

@media (min-width: 1840px) {
    
    .header-title h1 {
        font-size: calc(1vw + .8rem);
    }

    .navbar {
        max-width: 25vw;
    }

    .navbar-links li{
        margin: 1rem;
    }

    .navbar-links li a{
        font-size: calc(1vw + .3rem);
    }

    .contact-icon-content h2 {
        font-size: calc(1.4vw + 1.8rem);
    }

    .contact-icon {
        width: 3vw;
        height: 3vw;
    }

    .contact-icon i {
        font-size: 1vw;
    }

    .contact-icon span {
        font-size: 1.1vw;
    }

    .contact-icon p {
        font-size: .7vw;
    }

    .container-footer h2 {
        font-size: calc(1vw + .2rem);
    }

    .container-footer h3 {
        font-size: .8vw;
    }

    .projects-title h2 {
        font-size: calc(1.4vw + 1.8rem);
    }

    .swiper {
        max-width: calc(30vw + 15rem + 30%);
        height: calc(19vw + 22.5rem);
    }

    .image-project {
        max-width: calc(10vw + 11rem);
        max-height: calc(10vw + 10rem);
      }
    
      .card-project span {
        font-size: calc(1vw + .25rem);
        margin: 0.5vw auto 0.5vw;
      }
    
      .card-project p {
        font-size: calc(.7vw + .2rem);
      }
    
      .cta-project {
        width: auto;
      }
    
      .cta-project a {
        padding: 1rem 2rem;
        font-size: 0.8vw;
        margin-right: 1vw;
      }
}